<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
        <center>
            <div class="jumbotron">
                <h1 class="display-4">Welcome To Info page !!!</h1>
                <img src="{{ user_pr.display_picture.url }}" class="image_responsive" height="100px"
                width="100px">
                <p>
                    {{ user_pr.technology }}
                </p>
            </div>
        </center>
    
</body>
</html>